body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* background-color: #3A3B3C; */
  background-color: #AAAAAA;
}

li, a, button {
  font-family: "Andalé Mono", monospace;
  font-weight: 500;
  font-size: 15px;
  color: #edf0f1;
  text-decoration: none;
  cursor: pointer;
}

#confirm-text, #delete-cancel {
    display:flex;
    justify-content:center;
    align-items:center;
}

#confirm-text {
    margin-top: 100px;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px;
  width: auto;
  /* background-color: #242526; */
  background-color: #3A3B3C;
}

.logo {
  cursor: pointer;
  margin-right: auto;
}

.nav-links {
  list-style: none;
}

.nav-links li {
  display: inline-block;
  padding: 0px 15px;
  margin: auto;
}

.nav-links li a {
  transition: all 0.3s ease 0.1s;
}

.nav-links li a:hover {
  color: #0088a9;
}

button {
  padding: 10px 20px;
  background-color: rgba(30, 150, 150, 1);
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: all 0.3s ease 0.1s;
}

button:hover {
  background-color: rgba(30, 150, 150, 0.7);
}
