.card {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 15px 15px;
  padding: 5px 5px;
  font-family: "Courier" ,monospace;
  font-size: 18px;
}

.user-table {
    font-size: 20px;
    font-family: "Monaco", monospace;
}

.score-table {
    font-weight: bold;
    font-size: 20px;
    font-family: "Monaco", monospace;
    padding-left: 20px;
    color: #6006cf;
}

.date-table {
    padding: 0px 20px;
    font-size: 12px;
    font-weight: 400;
    font-family: "Monaco", monospace;
}

#delete-btn {
  font-family: "Andalé Mono", monospace;
  font-weight: 500;
  font-size: 12px;
  color: #edf0f1;
  text-decoration: none;
  cursor: pointer;
  padding: 5px 15px;
  background-color: rgba(242,22,22, 1);
  border: none;
  transition: all 0.3s ease 0.1s;
}

#delete-btn:hover {
  background-color: rgba(242,22,22, 0.7);
}
