{% extends "root.html" %}

{% block main %}
<style media="screen">
  p {
    font-family: "Andalé Mono", monospace;
    text-align: center;
    padding: 50px 25px;
    font-size: 18px;
  }

  a {
    text-decoration: none;
    color: #c3fc23;
  }
</style>
<p class="about">This web application records username, tracks scores and updates leaderboard. It has been developed primarily to support another project: a <a href="https://github.com/BruteForce009/vision-game-tracker" class="abt-links">computer vision based game</a>. Code is available at <a href="https://github.com/BruteForce009/Take-an-Aim" class="abt-links">Github</a>.</p>
{% endblock main %}
